.card{
  width: 20em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: var(--main);
  color: var(--background-dark);
}

.custom-container{
  display: grid;
  grid-gap: 20px 10px;
  grid-template-columns: auto auto auto;
  padding-left: 50px;
  z-index: 99;
}

.input-group-text, .input-group-text:hover , .text-color{
  color: var(--main);
}

.btn-primary{
  background: var(--dark-secondary);
}
.btn-primary:hover{
  background: var(--dark-lighter);
}

.offcanvas{
  height: 40vh;
  background: var(--background-dark);
  color: var(--main);
  border-top: 4px solid var(--main);
}


.offcanvas-body, .offcanvas-header{
  padding: 15px 50px;
}

.alert{
  background: var(--dark-lighter);
  border: 4px solid var(--main);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 560px;
  z-index: 9999;
}

.cls-btn{
  background: none;
  text-decoration: underline;
  border: none;
  outline: none;
  font-size: 13px;
}