.card{
  width: 20em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: var(--main);
  color: var(--background-dark);
}

.custom-container{
  display: grid;
  grid-gap: 20px 10px;
  grid-template-columns: auto auto auto;
  padding-left: 50px;
  z-index: 99;
}

.input-group-text, .input-group-text:hover , .text-color{
  color: var(--main);
}

.btn-primary{
  background: var(--dark-secondary);
}
.btn-primary:hover{
  background: var(--dark-lighter);
}
