:root{
  --background-dark : #082032;
  --main : #F0A500;
  --dark-secondary : #082032;
  --dark-lighter : #334756;
  --main-font : 'Roboto', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font);
}

.container{
  min-height: 60vh;
}

body{
  background: var(--background-dark);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main);
}
